<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>query._</title>

    <script src="js/jquery.min.js"></script>

    <script src="js/underscore.js"></script>

    <script src="js/backbone.js"></script>

    <script src="js/raphael.js"></script>

    <script src="js/jquery.touchcarousel-1.2.js"></script>

    <script src="js/suncalc.js"></script>
    <script src="js/weather-ui/events.js"></script>
    <script src="js/weather-ui/models.js"></script>
    <script src="js/weather-ui/views.js"></script>
    <script src="js/weather-ui/viewplot.js"></script>
    <script src="js/weather-ui/collection.js"></script>
    <script src="js/weather-ui/app.js"></script>

    <script src="js/weather-ui/utils.js"></script>

    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/touchcarousel.css" type="text/css">

</head>
<body>   

 
<div style="width:1000px; margin: 0 auto"> 
    <h1>WEATHER PLOTS</h1>

    <div id="fullweek"></div>

    <div id="add_form">
        <input type="text"  name="name" value="2eq2r"/>
        <input type="submit" class="add_button" value="add"/>
    </div>


    <div class="weather_top_cpanel" style="overflow: hidden;">
        <h1 class="title">погода</h1>
        <ul id="goroda" class="citieslist">
            <li class="weather_local_item"><a href="#" id="addcity">Добавить город</a></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="weather_row1_wrap">

        <div id="actual_condition">
            ghbdtn
        </div>
        <div class="weather_row1_informer" style="margin-bottom: 0">

            <div class="clear"></div>
            <div id="week" class="days"></div>

            <div class="weather_plot">
                <div class="weather_plot_measure" id="weather_plot_measure">

                </div>

                <div class="weather_plot_graph" id="weather_plot"></div>
            </div>

        </div>
    </div>
    <div class="clear"></div>
    <div id="two" class="fullday">
    </div>
    <div class="weather_row1_wrap">
        <div id='one' class="pulldown">
            <a href="#" class="more" id="more"><i></i>Подробнее</a>
            <a href="#" class="less" id="less"><i></i>Свернуть</a>
        </div>

    </div>
</div>




<script id="template_actual" type="text/template">
    <div id="actual_day" class="weather_actual_main">
        <div class="weather_actual_big_ico <%= getIconedCondition() %>"></div>
        <p class="weather_actual_update"><%= update_time %></p>

        <p class="weather_actual_temp"><%= temp %><span>°C</span></p>

        <p class="weather_wind"><i><em></em></i><%= getWind() %> : <%= wind_speed %> м/с</p>
    </div>
    <div class="weather_actual_description">

        <p class="weather_change_local"><a href="#">Другой город</a></p>

        <p class="weather_actual_title"><%= local %> <a href="#" class="add_to_favorites"><em></em></a></p>

        <p class="weather_actual_preview"><%= text %></p>

        <p class="weather_actual_left">Магнитная обстановка: <a href=""><%= magnitize %></a></p>

        <p class="weather_actual_right">Климатическая норма : <a href=""><%= climat_norm %></a></p>


    </div>
</script>

<script id="template_local" type="text/template">
    <div class="weather_localname"><%= name %></div>
    <span class="weather_localtemp"><i></i> +22°C</span>
    <i class="close"></i>
</script>
 
<script id="template_day" type="text/template">
    <div class="day_month"><%= getReformatedDate().day %></div>
    <div class="day_week"><%= getReformatedDate().weekday %></div>
    <div class="day_weather_ico">
        <i class="<%= getIconedCondition() %>"></i>
    </div>
    <div class="day_temp"><%= tmax %><span> °C</span></div>
    <div class="day_temp day_temp_night"><%= tmin %><span> °C</span></div>
    <p class="weather_wind"><i><em></em></i><%= getWind() %> = <%= windspeed %></p>
</script>



<script id="template_fullday" type="text/template">
    <div class="fullday_item_date"><div class="day_month"><%= getReformatedDate().weekday %></div>
        <div class="day_week"><%= getReformatedDate().day %></div></div>
    <div class="day_night"><div class="tooltip tooltip_sunrise"><%= getSuncalcResult().dawn %><i></i></div><div class="tooltip tooltip_sundown"><%= getSuncalcResult().dusk %><i></i></div></div>
</script>
<script id="template_daypart" type="text/template">
    <h1>0:00</h1>

    <div class="vicious_circle">
        <div class="vicious_circle_1">
            <div class="day_weather_ico">
                <i class="c-cloudly"></i>
            </div>
            <div class="day_temp"><%= tmax %><span> °C</span></div>
        </div>
    </div>

    <p class="weather_wind"><i><em></em></i><%= getWind() %> = <%= windspeed %> м/с</p>

    <p class="weather_humidity"><i></i><%= prec %>мм <%= prec_prob %>%</p>

    <p class="weather_pressure"><%= pday %> мм рт. ст.</p>
 </script>

<script id="template_fullweek" type="text/template">
     <div id="carousel-image-and-text" class="touchcarousel">
        <ul id="touchcarousel-container" class="touchcarousel-container"/>
    </div>
    <div class="weather_plot_measure" id="weather_plot_measure2">
    </div>
 </script>
</body>
</html>


