<!DOCTYPE html>
<html>
<head>
	    
	<meta charset="utf-8">
	    <title>WEATHER UI</title>


	 

	<script src="js/underscore.js"></script>
	<!--<script src="js/jquery.2.0.js"></script>-->
	<!--<script src="js/jquery-1.8.2.min.js"></script>-->
	<script src="js/jquery.min.js"></script>
	<script src="js/backbone.js"></script>

	<script src="js/raphael.js"></script>
	<script src="js/plot.js"></script>
	<script src="js/jquery.touchcarousel-1.2.js"></script>

	<script src="js/suncalc.js"></script>

	<script src="js/weather-ui/app.js"></script>
	<script src="js/weather-ui/events.js"></script>
	<script src="js/weather-ui/models.js"></script>
	<script src="js/weather-ui/collection.js"></script>
	<script src="js/weather-ui/views.js"></script>


	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="css/touchcarousel.css" type="text/css">


</head>
<body>   
<div style="width:1000px; margin: 0 auto"> 
<h1>WEATHER PLOTS</h1>

<div id="fullweek"></div>

<div id="add_form">
	<input type="text"  name="name" value="2eq2r"/>
	<input type="submit" class="add_button" value="add"/>
</div>


<div class="weather_top_cpanel" style="overflow: hidden;">
	<h1 class="title">погода</h1>
	<ul id="goroda" class="citieslist">
		<li class="weather_local_item"><a href="#" id="addcity">Добавить город</a></li>
	</ul>
	<div class="clear"></div>
</div>
<div class="weather_row1_wrap">
	<div class="weather_row1_informer" style="margin-bottom: 0">
		<div id="actual_day" class="weather_actual_main">
			<div class="weather_actual_big_ico"></div>
			<p class="weather_actual_update">18:00</p>

			<p class="weather_actual_temp">+20<span>°C</span></p>

			<p class="weather_wind"><i><em></em></i>6-8 м/с</p>
		</div>
		<div class="weather_actual_description">


			<p class="weather_actual_title">Москва</p>

			<p class="weather_actual_preview">Стихия</p>

			<p class="weather_actual_left">Магнитная обстановка: <a href="">Спокойная</a></p>

			<p class="weather_actual_right"><a href="">Климатическая норма</a></p>


		</div>
		<div class="clear"></div>
		<div id="week" class="days"></div>

		<div class="weather_plot">
            <div class="weather_plot_measure" id="weather_plot_measure">

            </div>

            <div class="weather_plot_graph" id="weather_plot"></div>
		</div>

	</div>
</div>
<div class="clear"></div>
<div id="two" class="fullday">
</div>
<div class="weather_row1_wrap">
	<div id='one' class="pulldown">
		<a href="#" class="more"><i></i>Подробнее</a>
		<a href="#" class="less"><i></i>Свернуть</a>
	</div>

</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
 		$(".more").on("click", function () {
			$("#one").animate({width: 1000}, 240, function () {
				$("#two").css({height: 0}).show().animate({height: 456});
				$(this).addClass("opened");
			});
			return false;
		})
		$(".less").on("click", function () {
			$("#two").animate({height: 0}, 140, function () {
				$("#one").animate({width: 720}).removeClass("opened");
				$(this).hide();
			});
			return false;
		});




	});
</script>


<script id="template_local" type="text/template">

		<div class="weather_localname"><%= name %></div>
		<span class="weather_localtemp"><i></i> +22°C</span>
		<i class="close"></i>

</script>
 
<script id="template_day" type="text/template">
	<div class="day_month"><%= date %></div>
	<div class="day_week"><%= reformated_day_week %></div>
	<div class="day_weather_ico">
		<i class="c-cloudly"><%= ico_class %></i>
	</div>
	<div class="day_temp"><%= tmax %><span> °C</span></div>
	<div class="day_temp day_temp_night"><%= tmin %><span> °C</span></div>
	<p class="weather_wind"><i><em></em></i><%= wind_dir %> = <%= windspeed %></p>
</script>


<script id="template_today" type="text/template">
    <div class="weather_actual_main">
        <div class="weather_actual_big_ico"></div>
        <p class="weather_actual_update">18:00</p>
        <p class="weather_actual_temp">+20<span>°C</span></p>
        <p class="weather_wind"><i><em></em></i>6-8 м/с</p>
    </div>
    <div class="weather_actual_description">
        <p class="weather_actual_title">Москва</p>
        <p class="weather_actual_preview">Стихия</p>
        <p class="weather_actual_left">Магнитная обстановка: <a href="">Спокойная</a></p>
        <p class="weather_actual_right"><a href="">Климатическая норма</a></p>
    </div>
</script>


<script id="template_daypart" type="text/template">

    <h1>0:00</h1>

    <div class="vicious_circle">
        <div class="vicious_circle_1">
            <div class="day_weather_ico">
                <i class="c-cloudly"></i>
            </div>
            <div class="day_temp"><%= tmax %><span> °C</span></div>
        </div>
    </div>

    <p class="weather_wind"><i><em></em></i>6-8 м/с</p>

    <p class="weather_humidity"><i></i>0.5мм 85%</p>

    <p class="weather_pressure">742 мм рт. ст.</p>

</script>

<script id="template_fullweek" type="text/template">
    <div class="weather_plot_measure" id="weather_plot_measure2">
    </div>
    <div id="carousel-image-and-text" class="touchcarousel">
        <ul id="touchcarousel-container" class="touchcarousel-container"/>
    </div>
</script>

</body>
</html>


